# CLion IDE settings
.idea/

# CMake build directories
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Ninja / VSCode CMake builds
build/
out/

# Logs and temporary files
*.log
*.tlog

# Object files, binaries
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.a
*.lib
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

# Debug / Release folders (if manually created)
[Dd]ebug*/
[Rr]elease*/
[Rr]elWithDebInfo*/
[Mm]inSizeRel*/

*.dmp

.vscode/
.vshistory/
.localhistory/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux specific
*~
